<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stochastic Oscillator</title>
    <meta name="description" content="A collection of components that make it easy to build interactive charts with D3.">

    <script src="../../scripts.js"></script>

    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <div class="content">

      <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <a href="../../"><img class="navbar-logo" alt="d3fc" src="../../images/logo.svg" /></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../..#quick-start">Quick Start</a></li>
                <li class="active"><a href="../../components/introduction/1-getting-started.html">Documentation</a></li>
                <li class=""><a href="../../examples">Examples</a></li>
                <li><a href="https://github.com/ScottLogic/d3fc">GitHub</a></li>
              </ul>
            </div>
        </div>
      </nav>

      
<div class="container component">

  <div class="row">

    <div class="col-sm-9 col-xs-12">
      <h1>
        Stochastic Oscillator
        <a href="https://github.com/ScottLogic/d3fc/blob/master/src/indicator/algorithm/stochasticOscillator.js">View source on GitHub</a>
      </h1>

      <p>A <a href="https://en.wikipedia.org/wiki/Stochastic_oscillator">Stochastic Oscillator</a> consists of two parts: %K and %D. %K relates the closing price to the full trading range over the specified window (5 data points by default). %D is the simple moving average of the %K values over a second window (3 data points by default).</p>
<p>The window lengths can be changed using the <code>kWindowSize</code> and <code>dWindowSize</code> properties. The calculation requires the High, Low and Close values of each data point. The object property used for these can be set via the <code>highValue</code>, <code>lowValue</code> and <code>closeValue</code> properties.</p>
<p>By default, the results from the calculation will be stored as a <code>stochastic</code> property on each point in the data set. The way the values are merged, can be altered using the <code>merge</code> property.</p>
<p>The following is a simple example of the Stochastic oscillator. The %K window has been set to 14 data points.</p>
<pre><code class="language-js"><span class="comment">// Create and apply the stochastic oscillator algorithm</span>
<span class="keyword">var</span> stochasticAlgorithm = fc.indicator.algorithm.stochasticOscillator()
    .kWindowSize(<span class="number">14</span>);
stochasticAlgorithm(data);

<span class="comment">// the stochastic oscillator is rendered on its own scale</span>
<span class="keyword">var</span> yScale = d3.scale.linear()
    .domain([<span class="number">0</span>, <span class="number">100</span>])
    .range([height - <span class="number">5</span>, <span class="number">5</span>]);

<span class="comment">// Create the renderer</span>
<span class="keyword">var</span> stochastic = fc.indicator.renderer.stochasticOscillator()
    .xScale(xScale)
    .yScale(yScale);

<span class="comment">// Add it to the container</span>
container.append(<span class="string">'g'</span>)
    .datum(data)
    .call(stochastic);</code></pre>
<p>Which yields the following :</p>
<p><div id="indicator-algorithm-stochasticOscillator-js" class="chart"> </div></p>
<script type="text/javascript">
(function() {
    var desiredWidth = $('#indicator-algorithm-stochasticOscillator-js').width(),
        desiredHeight = desiredWidth / 2.4; //keeps the width-height ratio at 600-250 (defaults for createFixture)
    var f = createFixture('#indicator-algorithm-stochasticOscillator-js', desiredWidth, desiredHeight, null, function() { return true; });
    var container = f.container, data = f.data,
      xScale = f.xScale, yScale = f.yScale,
      height = f.dimensions.height, width = f.dimensions.width;

    // Create and apply the stochastic oscillator algorithm
var stochasticAlgorithm = fc.indicator.algorithm.stochasticOscillator()
    .kWindowSize(14);
stochasticAlgorithm(data);

// the stochastic oscillator is rendered on its own scale
var yScale = d3.scale.linear()
    .domain([0, 100])
    .range([height - 5, 5]);

// Create the renderer
var stochastic = fc.indicator.renderer.stochasticOscillator()
    .xScale(xScale)
    .yScale(yScale);

// Add it to the container
container.append('g')
    .datum(data)
    .call(stochastic);

}());
</script>



      <nav class="visible-xs-block">
        <ul class="pager">
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                    <li class="previous"><a href="relativeStrengthIndicator.html"><span aria-hidden="true">&larr;</span> Relative Strength Index</a></li>
                  
                  
                
                  
                  
                
                  
                  
                    <li class="next"><a href="../introduction/1-getting-started.html">Getting Started <span aria-hidden="true">&rarr;</span></a></li>
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        </ul>
      </nav>
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul class="nav nav-stacked fixed nav-sidebar">
        
          <li>
            
              
                <h4>Introduction</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../introduction/1-getting-started.html">
                        Getting Started
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/2-decorate-pattern.html">
                        Decorate Pattern
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../introduction/3-component-design.html">
                        Component Design
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
                <h4>Chart</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
                    <li class="">
                      <a href="../chart/cartesianChart.html">
                        Cartesian Chart
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/legend.html">
                        Legend
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/linearTimeSeries.html">
                        Linear Time Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/sparkline.html">
                        Sparkline
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
                <h4>Series</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../series/area.html">
                        Area Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/bar.html">
                        Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/candlestick.html">
                        Candlestick Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/cycle.html">
                        Cycle Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/grouped-bar.html">
                        Grouped Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/line.html">
                        Line Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/multi.html">
                        Multi Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/ohlc.html">
                        OHLC Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/point.html">
                        Point Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/stacked.html">
                        Stacked Series
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
                <h4>Indicators</h4>
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="bollingerBands.html">
                        Bollinger Bands
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="exponentialMovingAverage.html">
                        Exponential Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="macd.html">
                        MACD
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="movingAverage.html">
                        Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="relativeStrengthIndicator.html">
                        Relative Strength Index
                      </a>
                    </li>
                
              
                
                    <li class="active">
                      <a href="stochasticOscillator.html">
                        Stochastic Oscillator
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Scale</h4>
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../scale/dateTime.html">
                        Date Time Scale
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>SVG</h4>
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../svg/axis.html">
                        Axis
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
                <h4>Annotations</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
                    <li class="">
                      <a href="../annotation/gridlines.html">
                        Gridlines
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../annotation/line.html">
                        Line Annotation
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Tools</h4>
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../tool/crosshairs.html">
                        Crosshairs
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Layout</h4>
              
            
              
            
            <ul class="nav nav-stacked">
              
                
                    <li class="">
                      <a href="../layout/layout.html">
                        Flexbox Layout
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Data</h4>
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../data/coinbase.html">
                        Coinbase
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/financial.html">
                        Random Financial
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/quandl.html">
                        Quandl
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/spread.html">
                        Spread
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
      </ul>
    </nav>

  </div>

</div>


    </div>
    <footer>
      <div class="container">
        <p class="muted credit text-center">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a>.</p>
        <p class="muted credit text-center">Browser testing provided by <a class="browserstack" href="https://browserstack.com">BrowserStack</a>.</p>
      </div>
    </footer>

    
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
