<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>d3fc</title>
    <meta name="description" content="A collection of components that make it easy to build interactive charts with D3.">

    <script src="../scripts.js"></script>

    <link rel="icon" type="image/png" href="../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../images/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="content">

      <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <a href="../"><img class="navbar-logo" alt="d3fc" src="../images/logo.svg" /></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="..#quick-start">Quick Start</a></li>
                <li class=""><a href="../components/introduction/1-getting-started.html">Documentation</a></li>
                <li class=""><a href="../examples">Examples</a></li>
                <li><a href="https://github.com/ScottLogic/d3fc">GitHub</a></li>
              </ul>
            </div>
        </div>
      </nav>

      <!DOCTYPE html>
<meta charset=utf-8>
<title>Redirecting...</title>
<link rel=canonical href="../components/introduction/1-getting-started.html">
<meta http-equiv=refresh content="0; url=../components/introduction/1-getting-started.html">
<h1>Redirecting...</h1>
<a href="../components/introduction/1-getting-started.html">Click here if you are not redirected.</a>
<script>location='../components/introduction/1-getting-started.html'</script>


    </div>
    <footer>
      <div class="container">
        <p class="muted credit text-center">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a>.</p>
        <p class="muted credit text-center">Browser testing provided by <a class="browserstack" href="https://browserstack.com">BrowserStack</a>.</p>
      </div>
    </footer>

    
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
