<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Getting Started</title>
    <meta name="description" content="A collection of components that make it easy to build interactive charts with D3.">

    <script src="../../scripts.js"></script>

    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../images/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <div class="content">

      <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
              <a href="../../"><img class="navbar-logo" alt="d3fc" src="../../images/logo.svg" /></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../..#quick-start">Quick Start</a></li>
                <li class="active"><a href="../../components/introduction/1-getting-started.html">Documentation</a></li>
                <li class=""><a href="../../examples">Examples</a></li>
                <li><a href="https://github.com/ScottLogic/d3fc">GitHub</a></li>
              </ul>
            </div>
        </div>
      </nav>

      
<div class="container component">

  <div class="row">

    <div class="col-sm-9 col-xs-12">
      <h1>
        Getting Started
        <a href="https://github.com/ScottLogic/d3fc/blob/master/src/">View source on GitHub</a>
      </h1>

      <h2 id="grabbing-the-code">Grabbing the code</h2>
<p>d3fc and its dependencies are available via npm or cdnjs.</p>
<h3 id="installing-with-npm">Installing with npm</h3>
<p>You can install d3fc and its dependencies via npm as follows:</p>
<pre><code>npm install d3fc</code></pre>
<p>Once installed, you can reference the d3fc JavaScript, CSS and dependencies within an HTML page as follows:</p>
<pre><code class="language-html">&lt;script src=&quot;node_modules/d3fc/node_modules/d3/d3.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;node_modules/d3fc/node_modules/css-layout/dist/css-layout.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;node_modules/d3fc/node_modules/svg-innerhtml/svg-innerhtml.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;node_modules/d3fc/dist/d3fc.js&quot;&gt;&lt;/script&gt;

&lt;link href=&quot;node_modules/d3fc/dist/d3fc.css&quot; rel=&quot;stylesheet&quot;/&gt;</code></pre>
<h3 id="using-cdnjs">Using cdnjs</h3>
<p>Alternatively you can link to d3fc and its dependencies directly via cdnjs:</p>
<pre><code class="language-html">&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/d3fc/2.1.1/d3fc.bundle.min.js&quot;&gt;&lt;/script&gt;

&lt;link href=&quot;https://cdnjs.cloudflare.com/ajax/libs/d3fc/2.1.1/d3fc.min.css&quot; rel=&quot;stylesheet&quot;/&gt;</code></pre>
<h2 id="a-quick-chart">A quick chart</h2>
<p>If you want a quick verification that everything has installed correctly, the following code will render a simple time series chart:</p>
<pre><code class="language-html">&lt;div id=&quot;chart&quot;&gt;&lt;/div&gt;</code></pre>
<pre><code class="language-js"><span class="keyword">var</span> data = fc.data.random.financial()(<span class="number">50</span>);

<span class="keyword">var</span> chart = fc.chart.linearTimeSeries()
    .xDomain(fc.util.extent(data, <span class="string">'date'</span>))
    .yDomain(fc.util.extent(data, [<span class="string">'high'</span>, <span class="string">'low'</span>]));

<span class="keyword">var</span> gridlines = fc.annotation.gridline();
<span class="keyword">var</span> candlestick = fc.series.candlestick();

<span class="keyword">var</span> multi = fc.series.multi()
    .series([gridlines, candlestick]);
chart.plotArea(multi);

d3.select(<span class="string">'#chart'</span>)
    .append(<span class="string">'svg'</span>)
    .style({
        height: <span class="string">'250px'</span>,
        width: <span class="string">'600px'</span>
    })
    .datum(data)
    .call(chart);</code></pre>
<p>Here is how the chart should look:</p>
<p><div id="chart"></div></p>
<script type="text/javascript">
(function() {
    var data = fc.data.random.financial()(50);

var chart = fc.chart.linearTimeSeries()
    .xDomain(fc.util.extent(data, 'date'))
    .yDomain(fc.util.extent(data, ['high', 'low']));

var gridlines = fc.annotation.gridline();
var candlestick = fc.series.candlestick();

var multi = fc.series.multi()
    .series([gridlines, candlestick]);
chart.plotArea(multi);

d3.select('#chart')
    .append('svg')
    .style({
        height: '250px',
        width: '600px'
    })
    .datum(data)
    .call(chart);

}());
</script>

<h2 id="next-steps">Next steps</h2>
<p>The next step is to browse the d3fc components to determine which you need for your chart or visualisation. You should also read about the <a href="2-decorate-pattern.html">decorate pattern</a> which allows you to customise the d3fc components.</p>


      <nav class="visible-xs-block">
        <ul class="pager">
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                    <li class="previous"><a href="../indicator/stochasticOscillator.html"><span aria-hidden="true">&larr;</span> Stochastic Oscillator</a></li>
                  
                  
                
                  
                  
                
                  
                  
                    <li class="next"><a href="2-decorate-pattern.html">Decorate Pattern <span aria-hidden="true">&rarr;</span></a></li>
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
                  
                  
                
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
              
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        </ul>
      </nav>
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul class="nav nav-stacked fixed nav-sidebar">
        
          <li>
            
              
                <h4>Introduction</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="active">
                      <a href="1-getting-started.html">
                        Getting Started
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="2-decorate-pattern.html">
                        Decorate Pattern
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="3-component-design.html">
                        Component Design
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
                <h4>Chart</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
                    <li class="">
                      <a href="../chart/cartesianChart.html">
                        Cartesian Chart
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/legend.html">
                        Legend
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/linearTimeSeries.html">
                        Linear Time Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../chart/sparkline.html">
                        Sparkline
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
                <h4>Series</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../series/area.html">
                        Area Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/bar.html">
                        Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/candlestick.html">
                        Candlestick Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/cycle.html">
                        Cycle Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/grouped-bar.html">
                        Grouped Bar Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/line.html">
                        Line Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/multi.html">
                        Multi Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/ohlc.html">
                        OHLC Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/point.html">
                        Point Series
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../series/stacked.html">
                        Stacked Series
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
                <h4>Indicators</h4>
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../indicator/bollingerBands.html">
                        Bollinger Bands
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/exponentialMovingAverage.html">
                        Exponential Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/macd.html">
                        MACD
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/movingAverage.html">
                        Moving Average
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/relativeStrengthIndicator.html">
                        Relative Strength Index
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../indicator/stochasticOscillator.html">
                        Stochastic Oscillator
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Scale</h4>
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../scale/dateTime.html">
                        Date Time Scale
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>SVG</h4>
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../svg/axis.html">
                        Axis
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
                <h4>Annotations</h4>
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
                    <li class="">
                      <a href="../annotation/gridlines.html">
                        Gridlines
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../annotation/line.html">
                        Line Annotation
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Tools</h4>
              
            
              
            
              
            
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../tool/crosshairs.html">
                        Crosshairs
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Layout</h4>
              
            
              
            
            <ul class="nav nav-stacked">
              
                
                    <li class="">
                      <a href="../layout/layout.html">
                        Flexbox Layout
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
          <li>
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
                <h4>Data</h4>
              
            
            <ul class="nav nav-stacked">
              
                
              
                
              
                
              
                
              
                
              
                
              
                
                    <li class="">
                      <a href="../data/coinbase.html">
                        Coinbase
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/financial.html">
                        Random Financial
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/quandl.html">
                        Quandl
                      </a>
                    </li>
                
              
                
                    <li class="">
                      <a href="../data/spread.html">
                        Spread
                      </a>
                    </li>
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
                
              
            </ul>
          </li>
        
      </ul>
    </nav>

  </div>

</div>


    </div>
    <footer>
      <div class="container">
        <p class="muted credit text-center">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a>.</p>
        <p class="muted credit text-center">Browser testing provided by <a class="browserstack" href="https://browserstack.com">BrowserStack</a>.</p>
      </div>
    </footer>

    
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
